<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Client</div>
                <div class="panel-body">


                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Responsible</th>
                                <th>e-mail</th>
                                <th>phone</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in clients">
                                <td>{{ o.name }}</td>
                                <td>{{ o.responsable }}</td>
                                <td>{{ o.email }}</td>
                                <td>{{ o.phone }}</td>
                                <td><a ng-href="#/client/{{o.id}}/edit">Editar</td>
                                <td><a ng-href="#/client/{{o.id}}/remove">Excluir</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

